* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* text */
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --dark-violet: hsl(271, 15%, 43%);
    --desaturated-violet: hsl(271, 36%, 24%);
    /* button submit bg*/
    --grayish-blue: hsl(206, 6%, 79%);
    --dark-grayish-violet: hsl(270, 7%, 64%);
    /* gradient */
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
    /* secondary */
    --light-grayish-violet: hsl(270, 20%, 96%);
    /* bg app*/
}

body {
    font-family: "Rubik", sans-serif;
}

@media(max-width: 850px) {
    .icon {
        display: none;
    }

    .app {
        margin-left: 20px;
        min-width: 300px;
    }
}

@media(max-width: 550px) {
    
    .content {
        width: 100%;
        flex-direction: column;
        margin: 50px 10px;
    }
    
    .booking {
        margin-top: 5em;
        text-align: center;
    }
}


.icon {
    background: linear-gradient(200deg,
            var(--light-magenta),
            var(--light-violet));
    width: 450px;
    height: 600px;
    position: absolute;
    left: -100px;
    border-radius: 0 0 50% 50%;
    z-index: -1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background: var(--light-grayish-violet);
    max-width: 280px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 15px 30px 20px rgba(1, 1, 1, .1);
    padding: 10px;
    margin-right: 6em;
}

.contact {
    background: linear-gradient(270deg,
            var(--light-magenta),
            var(--light-violet));
    border-radius: 20px 20px 5px 5px;
    padding: 30px 0 15px 0;
}

.note {
    background: #fff;
    width: 120px;
    float: right;
    margin-right: 70px;
    height: 15px;
    border-radius: 0 0 10px 10px;
}

.profile {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 15px;
}

.profile img {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 30px;
    margin: 0 10px;
}

.profile .status {
    font-size: 11px;
    color: var(--light-grayish-violet);
    margin-top: 2px;
}

.profile .menu {
    /* justify-self: flex-end; */
    position: relative;
    left: 55px;
}

.msg-left p {
    width: 180px;
    margin-top: 10px;
    border-radius: 5px;
    background: var(--grayish-blue);
    padding: 5px;
    color: var(--moderate-violet);
    font-size: 12px;
}

.msg-right {
    display: flex;
    justify-content: flex-end;
}

.msg-right p {
    border-radius: 5px;
    width: 180px;
    padding: 5px;
    font-size: 12px;
    box-shadow: 1px 1px 10px rgba(1, 1, 1, .1);
    color: var(--desaturated-violet);
    margin-top: 5px;
}

.images {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.images img {
    width: 40px;
    border-radius: 10px;
    margin: 5px;
}

.price {
    background: linear-gradient(60deg, var(--light-magenta), var(--light-violet));
    color: white;
    margin-top: 5px;
    width: 200px;
    padding: 10px;
    border-radius: 15px 15px 15px 5px;
}

.price .walk {
    font-size: 12px;
    margin-left: 5px;

}

.value {
    float: right;
    margin-right: 10px;
}

.type-msg {
    margin-top: 10px;
    padding: 10px;

}

.type-msg span {
    color: var(--grayish-blue);

}

.type-msg i {
    float: right;
    color: var(--desaturated-violet);
    margin-right: 5px;
    font-size: 25px;
}

.booking {
    max-width: 450px;
}

.booking h1 {
    color: var(--desaturated-violet);
}

.booking p {
    margin-top: 15px;
    color: var(--dark-grayish-violet);
}